.tl-watermark_SEE-LICENSE {
  position: fixed !important;
  bottom: 0 !important;
  left: 0 !important;
  right: auto !important;
  top: auto !important;
  transform: none !important;
  z-index: 1000;
  padding: 12px;
  pointer-events: none;
  display: block !important;
}

.tl-watermark_SEE-LICENSE button {
  width: 100px;
  height: 33px;
  opacity: 0.7;
  background-color: var(--color-text);
  pointer-events: all;
  border: none;
  cursor: pointer;
  position: relative !important;
  transform: none !important;
} 